<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <head>
    <title>Phantom - A friendly Solanna wallet built for DeFi & NFTs</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <header>
    <div class="navbar-container">
      <a class="navbar-header" href="#!"
        ><img src="img/phantom-logo.PNG" alt="phantom logo"
      /></a>
      <nav>
        <ul class="navbar-ul">
          <li class="navbar-li"><a href="#!">Overview</a></li>
          <li class="navbar-li"><a href="#!">Security</a></li>
          <li class="navbar-li"><a href="#!">Blog</a></li>
          <li class="navbar-li"><a href="#!">Support</a></li>
        </ul>
      </nav>
      <a href="#!" class="navbar-button">Download</a>
    </div>
  </header>
  <body>
    <section class="hero">
      <h1>A friendly cyrpto wallet</h1>
      <p>
        Phantom makes it safe & easy for you to store, buy, send, receive, swap
        tokens and collect NFTs on the Solana blockchain.
      </p>
      <a href="#!" class="navbar-button">Download</a>
      <a href="#!" class="watch-button">Watch</a>
    </section>
    <section class="features">
      <card>
        <h1>A beautfiul home for all your NFTs</h1>
        <img
          src="phantom/components/img/home.png"
          alt="image of phone screen"
        />
      </card>
      <card>
        <h1>Earn SOL with a couple clicks</h1>
        <img src="phantom/components/img/sol.png" alt="img of SOL" />
      </card>
      <card>
        <h1>Lighting fast swaps, super low fees</h1>
      </card>
      <card>
        <h1>Use all your favorite Solana apps</h1>
      </card>
    </section>
  </body>
</html>
