body {
background: #2C2D30;
padding: 0px 20px;
}

h1, h2, p{
color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

img{
max-width: 350px;
}

.navbar-container {
    background: #2C2D30;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    max-height: 60px;
    padding-top: 5px;
    
    
}
.navbar-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.navbar-ul {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    
    
    

}
.navbar-li {
    display: flex;
    text-decoration: none;
    justify-content: center;
    
    align-items: flex-start;
    color: whitesmoke;
    
    
}


.navbar-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 10%;
    color: white;
    background-color: rgb(81, 35, 189);
    padding: 10px;
    font-size: 16px;
       
}
.button {
max-width: 90px;
}

a {
    font-family: sans-serif;
    font-weight:550;
    font-size: large;
    color: grey;
    text-decoration: none;
}

.card{
background: linear-gradient(#6D64E0, #5046CF);

border-radius: 2%;
max-width: 450px;
}
